.vsconfig
Assembly-*
Learning*
Library/
Logs/
obj/
Packages/
ProjectSettings/
Recordings/
Temp/
UserSettings/
Assets/Materials/
Assets/Particles/
Assets/Prefabs/
Assets/Scenes/
Assets/Settings/
Assets/TextMesh Pro/
Assets/TutorialInfo/
Assets/InputSystem_Actions.inputactions
Assets/Readme.asset
Assets/*.meta