.utmp/
.vsconfig
Assembly-*
Learning*
LetterReference.jpeg
Library/
Logs/
obj/
Packages/
ProjectSettings/
Recordings/
Temp/
UserSettings/
Assets/Materials/
Assets/Particles/
Assets/Prefabs/
Assets/Scenes/
Assets/Settings/
Assets/TextMesh Pro/
Assets/TutorialInfo/
Assets/InputSystem_Actions.inputactions
Assets/Readme.asset
Assets/*.meta
Assets/Hovl*
Assets/BTM*
Assets/Casual*
Assets/Nature*
Assets/Texture_Me*
Assets/Tree*
Assets/Scripts/*.meta